* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: #f1f5f8;
}

.button {
  border: none;
  background-color: #c1e4ff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin: 0.2rem;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #a7d9ff;
  padding: 1.2rem;
}

.logo {
  font-size: 2rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.login {
  display: flex;
  justify-content: space-between;
}

/* Landing */

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  /* height: 100vh; */
}

.hero-title {
  font-size: 3rem;
  color: #378ed1;
}

.search-bar {
  margin: 2rem;
}

.input {
  border: none;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.hero-button {
  border: none;
  background-color: rgb(180, 237, 252);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 30rem;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

.book-display {
    margin: 1.5rem;
    max-width: 30rem;
}

.book-title {
  font-size: 2.25rem;
  line-height: 2.15rem;
  margin: 0.3rem;
}

.book-authors {
  display: flex;
  justify-content: space-between;
  color: #6f8a9e;
  margin: 0.3rem 0;
}

.book-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid #c2c2c2; */
}

.book-image {
  width: 10rem;
  height: 15rem;
}

.book-description {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.book-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  margin: 1rem 6rem 0 6rem;
  padding: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.readmore {
  border: none;
  background: none;
  color: rgb(103, 110, 151);
  cursor: pointer;
}

.book-icon {
  padding-left: 8px;
  font-size: 1.7rem;
}

/* Modal */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
